@model UseRouting
<h1 class="mb-5">Log in</h1>
<form asp-action="Login" asp-controller="Home" class="form-control text-center">

    <div class="mb-3 col-7">
    <span asp-validation-for="LoginEmail"></span> <br>
    <label class="col-4" asp-for="LoginEmail"></label>
    <input asp-for="LoginEmail">
    </div>
    <div class="mb-3 col-7">
    <span asp-validation-for="LoginPassword"></span><br>
    <label class="col-4" asp-for="LoginPassword"></label>
    <input asp-for="LoginPassword">
    </div>
    <input type="submit" value="Submit" class="btn btn-secondary">


</form>