@{
    ViewData["Title"] = "Home Page";
} 
@model WeddingPlanner.Models.RegisterViewModel;

<div class="container">
        <div class="row">
			<div class="col-md-5 mx-auto">
			<div id="first">
				<div class="myform form ">
					 <div class="logo mb-3">
						 <div class="col-md-12 text-center">
     <div class="registrationContainer">
    <form asp-controller="Users" asp-action="Register" method="POST">
        <h2>Register</h2>

        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" class="form-control">
        <span asp-validation-for="FirstName"></span>

        <label asp-for="LastName"></label>
        <input asp-for="LastName" class="form-control">
        <span asp-validation-for="LastName"></span>

        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control">
        <span asp-validation-for="Email"></span>

        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control">
        <span asp-validation-for="Password"></span>

        <label asp-for="PasswordConfirmation"></label>
        <input asp-for="PasswordConfirmation" class="form-control">
        <span asp-validation-for="PasswordConfirmation"></span><br>
        
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <a href="/login">Already Registered?</a>
 </div>  @* </div>  </div> </div> 
			<div class="col-md-5 mx-auto">
			<div id="first">
				<div class="myform form ">
					 <div class="logo mb-3">
						 <div class="col-md-12 text-center">
        <h1>Login</h1>
         <partial name ="_Login">
    </div></div>  </div>  </div>  </div>  </div>  </div>  </div> 
    <div class="row"></div>
    </div> *@